html, body {
    background-color: #000000;
    width: 100%;
    height: 100%;
    margin: 0;
}

article {
    width: 100%;
    height: 100%;
}

section {
    max-width: 600px;
    margin: 0 auto;
}

img {
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 18pt;
}

h1, p, span {
    color: #ffffff;
}

p, span {
    font-size: 14pt;
}

ul {
    margin-top: 40px;
}

a {
    color: #e24600;
    text-decoration: none;
}